#define ZMK_POINTING_DEFAULT_MOVE_VAL 1200  // 600
#define ZMK_POINTING_DEFAULT_SCRL_VAL 25   // 10

#include <input/processors.dtsi>
#include <zephyr/dt-bindings/input/input-event-codes.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/rgb.h>

&mmv_input_listener { input-processors = <&zip_xy_scaler 2 1>; };

&msc_input_listener { input-processors = <&zip_scroll_scaler 2 1>; };

&msc {
    acceleration-exponent = <1>;      // 0
    time-to-max-speed-ms = <100>;       // 300
    delay-ms = <0>;                   // 0
};

&mmv {
    time-to-max-speed-ms = <500>;
    acceleration-exponent = <1>;
    trigger-period-ms = <16>;
};

&soft_off { hold-time-ms = <2000>; };

/ {
    behaviors {
        td0: td0 {
            compatible = "zmk,behavior-tap-dance";
            display-name = "Shift/Caps Lock Tap Dance";
            #binding-cells = <0>;
            bindings = <&kp LEFT_SHIFT>, <&kp CAPS>;
        };

        esc_tilde: esc_tilde {
            compatible = "zmk,behavior-mod-morph";
            label = "ESC_TILDE";
            bindings = <&kp ESC>, <&kp TILDE>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        slash_equal: slash_equal {
            compatible = "zmk,behavior-mod-morph";
            label = "SLASH_EQUAL";
            bindings = <&kp NON_US_BACKSLASH>, <&kp EQUAL>;

            #binding-cells = <0>;
            mods = <(MOD_LCTL|MOD_RCTL)>;
        };

        t_f4: t_f4 {
            compatible = "zmk,behavior-mod-morph";
            label = "T_F4";
            bindings = <&kp T>, <&none>;

            #binding-cells = <0>;
            mods = <(MOD_LGUI|MOD_RGUI)>;
        };

        mouse_tog: mouse_tog {
            compatible = "zmk,behavior-tap-dance";
            label = "MOUSE_TOG";
            #binding-cells = <0>;
            bindings = <&kp SINGLE_QUOTE>, <&none>, <&tog 3>;
        };

        caps_num: caps_num {
            compatible = "zmk,behavior-hold-tap";
            label = "CAPS_NUM";
            bindings = <&mo>, <&caps_word>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
        };

        caps_tog: caps_tog {
            compatible = "zmk,behavior-tap-dance";
            label = "CAPS_TOG";
            #binding-cells = <0>;
            bindings = <&caps_num 1 0>, <&tog 2>;
        };

        kp_menu: kp_menu {
            compatible = "zmk,behavior-tap-dance";
            label = "KP_MENU";
            #binding-cells = <0>;
            bindings = <&mt LEFT_GUI C_MENU>, <&kp K_MENU>;
        };

        new_behavior: new_behavior {
            compatible = "zmk,behavior-mod-morph";
            label = "NEW_BEHAVIOR";
            bindings = <&slash_equal>, <&kp PLUS>;

            #binding-cells = <0>;
            mods = <(MOD_LALT|MOD_RALT)>;
        };

        slash_alt: slash_alt {
            compatible = "zmk,behavior-mod-morph";
            label = "SLASH_ALT";
            bindings = <&slash_equal>, <&kp PLUS>;

            #binding-cells = <0>;
            mods = <(MOD_LALT|MOD_RALT)>;
        };

        escTilde_btm: escTilde_btm {
            compatible = "zmk,behavior-hold-tap";
            label = "ESCTILDE_BTM";
            bindings = <&kp>, <&esc_tilde>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
        };

        mouse_v: mouse_v {
            compatible = "zmk,behavior-mod-morph";
            label = "MOUSE_V";
            bindings = <&kp LC(V)>, <&kp LS(V)>;

            #binding-cells = <0>;
            mods = <(MOD_LCTL|MOD_LALT|MOD_LGUI|MOD_RCTL|MOD_RSFT|MOD_RALT|MOD_RGUI)>;
        };

        mouse_c: mouse_c {
            compatible = "zmk,behavior-mod-morph";
            label = "MOUSE_C";
            bindings = <&kp LC(C)>, <&kp C>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_LALT|MOD_LGUI|MOD_RCTL|MOD_RSFT|MOD_RALT|MOD_RGUI)>;
        };

        mouse_x: mouse_x {
            compatible = "zmk,behavior-mod-morph";
            label = "MOUSE_X";
            bindings = <&kp LC(X)>, <&kp LA(X)>;

            #binding-cells = <0>;
            mods = <(MOD_LCTL|MOD_LSFT|MOD_LGUI|MOD_RCTL|MOD_RSFT|MOD_RALT|MOD_RGUI)>;
        };

        mouse_z: mouse_z {
            compatible = "zmk,behavior-mod-morph";
            label = "MOUSE_Z";
            bindings = <&kp LC(Z)>, <&kp Z>;

            #binding-cells = <0>;
            mods = <(MOD_LCTL|MOD_LSFT|MOD_LALT|MOD_LGUI|MOD_RCTL|MOD_RSFT|MOD_RALT|MOD_RGUI)>;
        };

        esc_mouose: esc_mouose {
            compatible = "zmk,behavior-tap-dance";
            label = "ESC_MOUOSE";
            #binding-cells = <0>;
            bindings = <&esc_tilde>, <&esc_tilde>, <&to 0>;
        };
    };

    rgb_encoder: rgb_encoder {
        compatible = "zmk,behavior-sensor-rotate";
        #sensor-binding-cells = <0>;
        bindings = <&rgb_ug RGB_BRI>, <&rgb_ug RGB_BRD>;
    };

    scroll_encoder: scroll_encoder {
        compatible = "zmk,behavior-sensor-rotate";
        #sensor-binding-cells = <0>;
        bindings = <&msc SCRL_DOWN>, <&msc SCRL_UP>;

        tap-ms = <100>;
    };

    combos {
        compatible = "zmk,combos";

        softoff {
            bindings = <&soft_off>;
            key-positions = <1 15 29>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "QWERTY";
            bindings = <
&esc_tilde      &kp Q  &kp W           &kp E                 &kp R             &t_f4                                      &kp UP                      &kp Y        &kp U              &kp I            &kp O              &kp P     &slash_alt
&kp TAB         &kp A  &kp S           &kp D                 &kp F             &kp G                            &kp LEFT  &rgb_ug RGB_TOG  &kp RIGHT  &kp H        &kp J              &kp K            &kp L              &kp SEMI  &kp SQT
&kp UNDERSCORE  &kp Z  &mt LEFT_ALT X  &mt LCTRL C           &mt LEFT_SHIFT V  &kp B        &kp K_PLAY_PAUSE              &kp DOWN                    &kp N        &mt RIGHT_SHIFT M  &mt RCTRL COMMA  &mt RIGHT_ALT DOT  &kp FSLH  &kp MINUS
                                       &escTilde_btm LGUI 0  &caps_tog         &lt 2 SPACE                                                            &lt 2 ENTER  &kp BACKSPACE      &lt 4 DELETE
            >;

            sensor-bindings = <&scroll_encoder>;
        };

        lower_layer {
            display-name = "NUMBER";
            bindings = <
&trans  &kp N1           &kp N2          &kp N3        &kp N4        &kp N5                                         &mmv MOVE_UP                     &kp N6           &kp N7           &kp N8           &kp N9           &kp N0    &kp BSPC
&trans  &bt BT_CLR_ALL   &bt BT_SEL 0    &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3                   &mmv MOVE_LEFT  &mkp LCLK       &mmv MOVE_RIGHT  &kp LEFT         &kp DOWN         &kp UP           &kp RIGHT        &kp HOME  &kp PG_UP
&trans  &rgb_ug RGB_OFF  &rgb_ug RGB_ON  &trans        &trans        &rgb_ug RGB_EFF  &kp C_MUTE                    &mmv MOVE_DOWN                   &rgb_ug RGB_EFR  &rgb_ug RGB_SPI  &rgb_ug RGB_BRI  &rgb_ug RGB_BRD  &kp END   &kp PG_DN
                                         &trans        &trans        &trans                                                                          &kp INS          &kp DEL          &trans
            >;

            sensor-bindings = <&scroll_encoder>;
        };

        FN {
            display-name = "SYMBOL";
            bindings = <
&to 0          &kp F1  &kp F2  &kp F3  &kp F4              &kp F5                       &trans          &kp LEFT_PARENTHESIS  &kp KP_N7              &kp KP_N8        &kp KP_NUMBER_9      &kp RPAR   &kp EQUAL
&kp PAGE_UP    &kp F6  &kp F7  &kp F8  &kp F9              &kp F10              &trans  &trans  &trans  &kp PLUS              &kp KP_N4              &kp KP_NUMBER_5  &kp KP_N6            &kp BSLH   &kp COMMA
&kp PAGE_DOWN  &trans  &trans  &trans  &mt LEFT_SHIFT F11  &kp F12    &trans            &trans          &kp ASTERISK          &mt RIGHT_SHIFT KP_N1  &mt RCTRL KP_N2  &mt RIGHT_ALT KP_N3  &kp SLASH  &kp PERIOD
                               &trans  &trans              &kp SPACE                                    &kp KP_ENTER          &trans                 &kp KP_NUM
            >;

            sensor-bindings = <&rgb_encoder>;
            label = "FN";
        };

        layer_3 {
            display-name = "Fn";
            bindings = <
&studio_unlock  &kp F1      &kp F2     &kp F3       &kp F4     &kp F5                                  &mmv MOVE_UP                     &kp F6       &kp F7     &kp F8       &kp F9      &kp F10          &kp F11
&trans          &trans      &mkp LCLK  &mkp MCLK    &mkp RCLK  &mkp MB4                &mmv MOVE_LEFT  &mkp LCLK       &mmv MOVE_RIGHT  &bootloader  &mkp LCLK  &mkp MCLK    &mkp RCLK   &kp PRINTSCREEN  &kp F12
&trans          &sys_reset  &trans     &bootloader  &trans     &mkp MB5  &kp C_MUTE                    &mmv MOVE_DOWN                   &trans       &trans     &bootloader  &sys_reset  &kp SCROLLLOCK   &kp PAUSE_BREAK
                                       &trans       &trans     &trans                                                                   &trans       &trans     &trans
            >;

            sensor-bindings = <&scroll_encoder>;
        };

        layer_4 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                    &trans          &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans            &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans            &trans          &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &trans  &trans                                    &trans  &trans  &trans
            >;
        };
    };
};
